* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 30px;
}

h1 {
    padding-bottom: 30px;
}

.account-div {
    display: flex;
    gap: 40px;
}

.amount {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.account-box {
    border: 2px;
    border-radius: 5px;
}

input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 10px;
}

.btn-depo-class {
    padding: 15px;
    width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: green;
}

.btn-with-class {
    padding: 15px;
    width: 150px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: crimson;
}